.wrapper {
    width: 80vw;
    height: 100%;
    display: flex;
    flex-direction: column;

    &-title {
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid lightgray;

        button {
            position: absolute;
            left: 25%;
        }
    }

    &-info {
        width: 100%;
        height: 100%;
        padding-top: 30px;
        padding-left: 50px;

        &-edit {
            padding-top: 10px;
            display: flex;
            flex-direction: row;
        }

        &-btns {
            width: 200px;
            
            button {
                margin-top: 10px;
                margin-left: 20px;
            }
        }

        input {
            padding: 10px;
        }

        &-photos {
            padding-top: 50px;
        }
    }
}