<div class="wrapper">
  <div class="wrapper-title">
    <h1>Albums Page</h1>
  </div>
  <div class="wrapper-info">
    <div class="wrapper-info-item" *ngFor="let album of albums">
      <a class="link" routerLink="{{ album.id }}"
        >{{ album.id }} - {{ album.title }}</a
      >
      <button class="btn btn-outline-danger " (click)="handleDeleteAlbum(album)">
        <fa-icon [icon]="faTrashIcon"></fa-icon>
      </button>
    </div>

    <div class="wrapper-info-add">
      <input type="text" placeholder="Add New Album" [(ngModel)]="newAlbumTitle" />

      <button class="btn btn-outline-success" (click)="handleAddNewAlbum()">
        <fa-icon [icon]="faAddIcon"></fa-icon>
      </button>
    </div>
  </div>
</div>
